{% extends "base.htm" %}
{% block body %}
   {#  <form method="post">
        <label for="imie">Imię:</label>
        <input id="imie" name="imie">
        <input type="submit" value="Rozpocznij grę"/>
    </form> #}
    <form method="post">
        Imię gracza pierwszego: <input name="names" value=""><br>
        Imię gracza drugiego: <input name="names" value=""><br>
        Imię gracza trzeciego: <input name="names" value=""><br>
        Imię gracza czwartego: <input name="names" value=""><br>

        <input type="submit" value="Rozpocznij grę" />
    </form>
{% endblock %}